<div class="container">

	<h3>Contact our reputable dealers:</h3>
	<div class="dealers">
	<% @dealerlist.each do |dealer| %>
		<ul class="dealer">
			<li><%= dealer[:name] %></li>
			<li><%= dealer[:company] %> <%= dealer[:compsuffix] %></li>
			<li><%= dealer[:city] %>, <%= dealer[:state] %></li>
			<li><%= dealer[:phone] %></li>
		</ul>
 	<% end %>
	</div>

</div>